<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
      <payment>
          <paycertifygateway>
              <active>1</active>
              <model>PayCertifyGateway\Payment\Model\Payment</model>
              <payment_action>authorize_capture</payment_action> 
              <title>PayCertify Gateway</title>
              <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
              <processor_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
              <cctypes>AE,VI,MC,DI,JCB</cctypes>
         </paycertifygateway>
     </payment>
  </default>
</config>